<?php
/* uCMS
 * Copyright (c) 2011-2013 Dominik Marczuk
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * The name of Dominik Marczuk may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY DOMINIK MARCZUK "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL DOMINIK MARCZUK BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
?>
<h1><?php echo $this->translate('Users list'); ?></h1>
<table>
	<thead>
		<tr>
			<th><?php if ($this->acl->isAllowed("admin/user/add")) { ?><a href="/admin/user/add"><img src="/img/admin/icon/add.png"></a><?php } ?></th>
			<th><?php echo $this->translate('User name'); ?></th>
			<th><?php echo $this->translate('E-mail address'); ?></th>
			<th><?php echo $this->translate('Role'); ?></th>
			<th><?php echo $this->translate('Member since'); ?></th>
			<th><?php echo $this->translate('Last seen on'); ?></th>
		</tr>
	</thead>
	<tbody>
	<?php if (count($this->paginator)) { ?>
		<?php foreach ($this->paginator as $item) { ?>
			<tr>
			<td>
				<?php if ($this->acl->isAllowed('admin/user/edit') && ($this->acl->inheritsRole($this->identity->role,$item['role']) || $this->identity->role == $item['role'] || $this->identity->id == $item['id'])) { ?><a href="<?php echo $this->url(array('action' => 'edit', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Edit'); ?>"><img src="/img/admin/icon/edit.png" alt="<?php echo $this->translate('Edit'); ?>" /></a><?php } ?>
				<?php if ($this->acl->isAllowed('admin/user/delete') && $this->acl->inheritsRole($this->identity->role,$item['role'])) { ?><a rel="delete" href="<?php echo $this->url(array('action' => 'delete', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Delete'); ?>"><img src="/img/admin/icon/delete.png" alt="<?php echo $this->translate('Delete'); ?>" /></a><?php } ?>
			</td>
			<td><?php echo $item['login'] ?></td>
			<td><a class="mail" href="mailto:<?php echo $item['email'] ?>"><?php echo $item['email'] ?></a></td>
			<td><?php echo $item['role'] ?></td>
			<td><?php echo $item['created'] ?></td>
			<td><?php echo $item['last_access'] ?></td>
			</tr>
		<?php } ?>
	<?php } ?>
	</tbody>
</table>
<?php echo $this->paginator; ?>
<?php
	$this->inlineScript()->appendScript("
		jQuery(document).ready(function() {
			jQuery('a[rel=delete]').click(function(event) {
				return confirm('".$this->translate('Are you sure? Remember that this action is not undoable!')."');
			});
		});
	");
?>
