@white: #f8f8f8;
@paleGrey: #e0e0e0;
@lightGrey: #c0c0c0;
@grey: #808080;
@darkGrey: #505050;
@black: #202020;

@lightBlue: #40bfff;
@blue: #00aaff;
@darkBlue: #005580;

@lightOrange: #ff8040;
@orange: #ff5500;
@darkOrange: #802b00;

.gradient(@from,@to,@angle: 0deg) {
	background: @from;
	background: -moz-linear-gradient(90deg - @angle, @from 0%, @to 100%);
	background: -webkit-linear-gradient(90deg - @angle, @from 0%,@to 100%);
	background: -o-linear-gradient(90deg - @angle, @from 0%,@to 100%);
	background: -ms-linear-gradient(@angle, @from 0%,@to 100%);
	background: linear-gradient(@angle, @from 0%,@to 100%);
}

.border-box() {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: @black;
	font-family: sans-serif;

	img {
		border: 0;
	}

	a {
		color: @blue;
		text-decoration: none;
		&:hover {
			color: @orange;
		}

		&.mail {
			padding-left: 20px;
			background: url("/img/admin/icon/email.png") left 50% no-repeat;
		}
	}

	background-color: @paleGrey;

	.top {
		height: 30px;
		line-height: 30px;
		background-color: @darkGrey;
		color: @lightGrey;
		box-shadow: 0 0 10px rgba(0,0,0,.25);
		font-size: 11px;

		.identity {
			float: left;
			padding-left: 10px;
		}
		.version {
			float: right;
			padding-right: 10px;
		}
	}

	.layout-table {
		display: table;
		width: 100%;
		.layout-row {
			display: table-row;
		}
	}

	#nav-wrap {
		width: 250px;
		display: table-cell;
		padding: 10px 0 10px 10px;
		vertical-align: top;
	}

	nav {
		background-color: @white;
		box-shadow: 0 0 10px rgba(0,0,0,.2);
		padding: 10px;

		> ul.navigation {
			margin: 0;
			padding: 0;
			list-style: none;
			> li {
				position: relative;
				> a {
					font-weight: bold;
					color: @darkGrey;
					display: block;
					padding: 5px 10px;
					text-transform: uppercase;
					&.icon {
						padding-left: 26px;
						background-position: 0px 50%;
						background-repeat: no-repeat;
						&.ucms { background-image: url("/img/admin/icon/ucms.png"); }
						&.page { background-image: url("/img/admin/icon/page.png"); }
						&.product { background-image: url("/img/admin/icon/product.png"); }
						&.news { background-image: url("/img/admin/icon/news.png"); }
						&.gallery { background-image: url("/img/admin/icon/gallery.png"); }
						&.block { background-image: url("/img/admin/icon/block.png"); }
						&.comments { background-image: url("/img/admin/icon/comments.png"); }
						&.tag { background-image: url("/img/admin/icon/tag.png"); }
						&.category { background-image: url("/img/admin/icon/category.png"); }
						&.menu { background-image: url("/img/admin/icon/menu.png"); }
						&.users { background-image: url("/img/admin/icon/users.png"); }
						&.languages { background-image: url("/img/admin/icon/languages.png"); }
						&.home { background-image: url("/img/admin/icon/home.png"); }
						&.logout { background-image: url("/img/admin/icon/logout.png"); }
						&.views { background-image: url("/img/admin/icon/views.png"); }
					}
					&:hover {
						color: @blue;
					}
				}
				> ul {
					display: none;
					position: absolute;
					top: 0;
					left: 100%;
					width: 250px;
					margin: 0;
					padding: 0;
					list-style: none;
					> li {
						display: block;
						> a {
							padding: 5px 10px 5px 36px;
							display: block;
							background: url("/img/admin/icon/bullet.png") 26px 50% no-repeat;
							color: @darkGrey;
							&:hover {
								color: @blue;
							}
						}
						&.active {
							> a {
								color: @blue;
							}
						}
					}
				}
				&.active {
					> ul {
						display: block;
						position: relative;
						left: 0;
					}
					> a {
						color: @blue;
					}
				}
			}
		}
	}

	#languages {
		margin: 10px 0 0 0;
		text-align: center;
		background-color: @white;
		box-shadow: 0 0 10px rgba(0,0,0,.2);
		padding: 10px;
		img {
			opacity: .5;
			&:hover {
				opacity: 1;
			}
		}
		.active img {
			box-shadow: 0 0 5px @blue;
			opacity: 1;
		}
	}

	#content-wrap {
		display: table-cell;
		padding: 10px;
		vertical-align: top;
	}

	// messages
	#messages {
		.message {
			padding: 10px;
			border-width: 1px;
			border-style: solid;
			margin: 0 0 10px 0;
			font-size: 12px;
			box-shadow: 0 0 10px rgba(0,0,0,.2);
			&.success {
				color: #204000;
				background-color: #c0ff80;
				border-color: #60c000;
			}
			&.error {
				color: #401000;
				background-color: #ffa080;
				border-color: #c03000;
			}
			&.info {
				color: #002040;
				background-color: #80c0ff;
				border-color: #0060c0;
			}
		}
	}

	section#content {
		background-color: @white;
		box-shadow: 0 0 10px rgba(0,0,0,.2);
		padding: 10px;

		h1 {
			font-size: 24px;
			color: @orange;
			margin-top: 0;
		}

		.subnav {
			ul {
				padding: 0;
				li {
					display: inline-block;
					a {
						padding: 5px 10px;
						color: @black;
						border: 1px solid @grey;
						cursor: pointer;
						.gradient(@lightGrey,@paleGrey);
						border-radius: 20px;
						box-shadow: 0 1px 2px rgba(0,0,0,.33);
						&:hover {
							.gradient(@paleGrey,@lightGrey);
						}
					}
				}
			}
		}

		.panel {
			border: 1px solid @lightGrey;
			padding: 10px;
			margin: 20px 0;
			> h2 {
				margin-top: 0;
			}
		}

		.page-description {
			margin: 0 0 20px 0;
			p {
				padding: 10px;
				background-color: #fff0e0;
				border: 1px solid #807870;
				color: @black;
				border-radius: 3px;
				margin: 0 0 5px 0;
				font-size: 12px;
				font-style: italic;
			}
		}

		// tables
		table {
			border-collapse: collapse;
			tr {
				th {
					border-top: 1px solid @lightGrey;
					border-bottom: 1px solid @lightGrey;
					background-color: @paleGrey;
					padding: 3px 10px;
					text-align: left;
					&:first-child {
						border-left: 1px solid @lightGrey;
					}
					&:last-child {
						border-right: 1px solid @lightGrey;
					}
				}
				td {
					border-top: 1px solid @lightGrey;
					border-bottom: 1px solid @lightGrey;
					padding: 3px 10px;
					&:first-child {
						border-left: 1px solid @lightGrey;
					}
					&:last-child {
						border-right: 1px solid @lightGrey;
					}

					input[type=text] {
						min-width: 400px;
						.border-box;
						border: 1px solid @lightGrey;
						padding: 5px 10px;
						margin: 1px 0;
						.gradient(#ffffff 85%,#eeeeee 99%);
						&[disabled] {
							.gradient(#e0e0e0 85%,#d8d8d8 99%);
						}
						&.ajax.loading {
							border: 1px solid @paleGrey;
							background: url("/img/admin/throbber.gif") 5px center no-repeat;
							padding: 5px 0 5px 20px;
							color: @grey;
						}
					}
					.chzn-search {
						input[type=text] {
							min-width: 100%;
						}
					}
				}
			}
			&.sortable {
				tr {
					td {
						cursor: move;
					}
				}
			}
		}

		// paginators
		.paginator {
			text-align: center;
			padding: 10px 0;
			a {
				padding: 5px 10px;
				color: @black;
				border: 1px solid @grey;
				cursor: pointer;
				.gradient(@lightGrey,@paleGrey);
				border-radius: 20px;
				box-shadow: 0 1px 2px rgba(0,0,0,.33);
				&:hover {
					.gradient(@paleGrey,@lightGrey);
				}
			}
			span {
				padding: 5px 10px;
				color: @grey;
				border: 1px solid @lightGrey;
				background-color: @paleGrey;
				border-radius: 20px;
				box-shadow: 0 1px 2px rgba(0,0,0,.33);
				&.active {
					.gradient(@lightGrey,@grey);
					color: @black;
					border: 1px solid @grey;
				}
			}
		}

		// item lists
		ol.items { list-style: none; padding: 0;
			ol { padding-left: 50px; list-style: none; }
			li { margin: 2px 0;
				> div { padding: 2px 10px; border: 1px solid @lightGrey;
					&.folded + ol { display: none; }
					&.folded div.fold-button { background: url('/img/admin/icon/unfold.png'); }
					div.fold-button { padding: 0; width: 16px; height: 16px; cursor: pointer; display: inline-block; background: url('/img/admin/icon/fold.png'); }
					span.controls { margin-right: 20px; }
				}
				table {
					tr {
						td {
							border: 0;
						}
					}
				}
				&.placeholder {
					background: #fff8c0;
				}
			}
			&.sortable {
				li {
					cursor: move;
					> div { padding: 10px 10px 10px 50px; background: url('/img/admin/icon/drag.png') 10px 50% no-repeat; }
					.separator {
						display: inline-block;
						margin: 0 10px; border-left: 1px dotted @lightGrey;
					}
				}
			}
		}

		// forms
		form {
			dl {
				margin: 0;
				dd {
					margin: 0 0 10px 0;
					> input[type=text],
					> input[type=password] {
						min-width: 400px;
						.border-box;
						border: 1px solid @lightGrey;
						padding: 5px 10px;
						.gradient(#ffffff 85%,#eeeeee 99%);
						&[disabled] {
							.gradient(#e0e0e0 85%,#d8d8d8 99%);
						}
					}
					> select {
						min-width: 400px;
					}
					&#flag-element { // separate language flags
						label {
							display: inline-block;
							width: 150px;
							margin-bottom: 10px;
						}
					}
				}
				dt {

				}
			}
			fieldset {
				padding: 10px;
				border: 1px solid @lightGrey;
				margin: 10px 0;
				legend {
					padding: 5px 10px;
					border: 0;
					border-radius: 20px;
					background-color: @orange;
					color: @white;
				}
			}
			.description {
				font-size: 11px;
				color: @grey;
				margin-top: 3px;
				.alias-placeholder {
					cursor: pointer;
					color: @blue;
				}
			}
			.errors {
				padding: 0;
				margin-top: 2px;
				list-style: none;
				color: red;
				font-weight: bold;
				font-size: 11px;
			}
			span.counter {
				padding: 3px 6px;
				border-radius: 10px;
				background-color: @lightBlue;
				color: @black;
				margin: 0 5px;
				font-size: 11px;
				&.too-many {
					background-color: @lightOrange;
				}
				&.too-few {
					background-color: @lightOrange;
				}
			}
			.indent {
				display: inline-block;
				width: 20px;
				height: 1px;
			}
			.removable-image-wrapper {
				width: 100px;
				height: 100px;
				position: relative;
				img {
					display: block;
				}
				button {
					border: 0;
					padding: 0;
					background: url("/img/admin/icon/delete.png");
					cursor: pointer;
					top: 0;
					right: 0;
					width: 16px;
					height: 16px;
					position: absolute;
				}
			}
			textarea {
				display: block;
				width: 100%;
				.border-box;
			}
		}
		input[type=submit],
		a.submit,
		button {
			padding: 5px 10px;
			color: @black;
			border: 1px solid @grey;
			cursor: pointer;
			.gradient(@lightGrey,@paleGrey);
			border-radius: 20px;
			box-shadow: 0 1px 2px rgba(0,0,0,.33);
			&:hover {
				.gradient(@paleGrey,@lightGrey);
			}
		}
	}

	.subnav {
		margin-bottom: 20px;
	}
	.panel {
		background-color: @white;
		border: 1px solid @lightGrey;
		padding: 10px;
		margin-bottom: 20px;
	}
}
