@white: #f8f8f8;
@paleGrey: #e0e0e0;
@lightGrey: #c0c0c0;
@grey: #808080;
@darkGrey: #505050;
@black: #202020;

@lightBlue: #40bfff;
@blue: #00aaff;
@darkBlue: #005580;

@lightOrange: #ff8040;
@orange: #ff5500;
@darkOrange: #802b00;

.gradient(@from,@to,@angle: 0deg) {
	background: @from;
	background: -moz-linear-gradient(90deg - @angle, @from 0%, @to 100%);
	background: -webkit-linear-gradient(90deg - @angle, @from 0%,@to 100%);
	background: -o-linear-gradient(90deg - @angle, @from 0%,@to 100%);
	background: -ms-linear-gradient(@angle, @from 0%,@to 100%);
	background: linear-gradient(@angle, @from 0%,@to 100%);
}

body {
	padding: 50px 0;
	background-color: @paleGrey;
	color: @black;
	font: normal 14px sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 500px;
	text-align: center;
	padding: 40px 20px;
	border: 1px solid @lightGrey;
	background-color: @white;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	&.left {
		text-align: left;
	}
}

form {
	table {
		margin: 0 auto;

		input[type="text"],
		input[type="password"] {
			width: 150px;
			padding: 5px;
			font: normal 14px sans-serif;
			border: 1px solid @lightGrey;
			box-shadow: 0 1px 2px rgba(0,0,0,.33);
			&:focus {
				border-color: @blue;
				outline: none;
			}
		}
		input[type="submit"] {
			padding: 5px 10px;
			color: @black;
			border: 1px solid @grey;
			cursor: pointer;
			.gradient(@lightGrey,@paleGrey);
			border-radius: 20px;
			font: normal 14px sans-serif;
			box-shadow: 0 1px 2px rgba(0,0,0,.33);
			&:hover {
				.gradient(@paleGrey,@lightGrey);
			}
		}
	}

	dd {
		margin: 0 0 20px 0;
	}
}
