<noscript>
	<p class="error"><?php echo $this->translate('In order to use the admin panel, you are required to have JavaScript turned on in your browser.'); ?></p>
</noscript>
<div id="js-only" style="display:none;">
	<img src="/img/admin/logo.png" alt="uCMS" />
	<form action="<?php echo $this->form->getAction(); ?>" method="post">
		<table>
			<tr>
				<td><?php echo $this->form->getElement('login'); ?></td>
				<td><?php echo $this->form->getElement('password'); ?></td>
				<td><?php echo $this->form->getElement('submit'); ?></td>
			</tr>
		</table>
	</form>
</div>
<?php
	$this->inlineScript()->appendScript(
		"$(window).load(function() {
			$('#js-only').css({'display': 'block'});
			$('#login').focus();
		});"
	);
?>
