<h1><?php echo $this->translate('Menu'); ?></h1>
<table>
	<tr>
		<th><?php if ($this->acl->isAllowed("admin/menu/add")) { ?><a href="/admin/menu/add"><img src="/img/admin/icon/add.png"></a><?php } ?></th>
		<th><?php echo $this->translate('Menu name'); ?></th>
	</tr>
	<?php foreach($this->menu as $m) { ?>
	<tr>
		<td>
			<?php if ($this->acl->isAllowed('admin/menu/edit')) { ?><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'menu', 'action' => 'edit', 'id' => $m['id']),'default'); ?>" title="<?php echo $this->translate('Edit'); ?>"><img src="/img/admin/icon/edit.png" alt="<?php echo $this->translate('Edit'); ?>" /></a><?php } ?>
			<?php if ($this->acl->isAllowed('admin/menu/item')) { ?><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'menu', 'action' => 'item', 'mid' => $m['id']),'default'); ?>" title="<?php echo $this->translate('Menu items'); ?>"><img src="/img/admin/icon/menu.png" alt="<?php echo $this->translate('Menu items'); ?>" /></a><?php } ?>
			<?php if ($this->acl->isAllowed('admin/menu/delete')) { ?><a rel="delete" href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'menu', 'action' => 'delete', 'mid' => $m['id']),'default'); ?>" title="<?php echo $this->translate('Delete'); ?>"><img src="/img/admin/icon/delete.png" alt="<?php echo $this->translate('Delete'); ?>" /></a><?php } ?>
		</td>
		<td><?php echo $m['name']; ?></td>
	</tr>
	<?php } ?>
</table>
<?php
	$this->inlineScript()->appendScript("
		jQuery(document).ready(function() {
			jQuery('a[rel=delete]').click(function(event) {
				return confirm('".$this->translate('Are you sure? Remember that this action is not undoable!')."');
			});
		});
	");
?>
