<h1><?php echo $this->translate('Edit menu "%1$s"', $this->menu['name']); ?></h1>
<?php if($this->acl->isAllowed('admin/menu/item-add')) { ?><p><a href="<?php echo $this->url(array('action' => 'item-add')); ?>"><img src="/img/admin/icon/add.png"> <?php echo $this->translate('Add menu item'); ?></a></p><?php } ?>

<div ng-app="ucms" ng-controller="MenuItemsController">
<?php if (count($this->items) == 0) { ?>
	<p><?php echo $this->translate('This menu is empty.'); ?></p>
<?php } else if (count($this->items, COUNT_RECURSIVE) == 1) { ?>
	<ol class="items">
		<?php echo $this->partial("menu/item-single-level-partial.phtml", array("items" => $this->items, "acl" => $this->acl)); ?>
	</ol>
<?php } else { ?>
	<?php if ($this->acl->isAllowed('admin/menu/item-ajax')) { ?>
		<p><?php echo $this->translate('Drag and drop the items vertically to change their order.'); ?><br /><?php echo $this->translate('Drag and drop the items horizontally to nest them.'); ?></p>
		<ol class="items sortable">
			<?php echo $this->partial("menu/item-single-level-partial.phtml", array("items" => $this->items, "acl" => $this->acl)); ?>
		</ol>
		<?php $this->inlineScript()->appendScript(
			"$(document).ready(function() {
				$('ol.sortable').nestedSortable({
					forcePlaceholderSize: true,
					helper: 'clone',
					opacity: .6,
					placeholder: 'placeholder',
					disableNesting: 'no-nest',
					items: 'li',
					handle: 'div',
					tolerance: 'pointer',
					toleranceElement: '> div',
					stop: function(event,ui) {
						var arr = $(this).nestedSortable('toArray');
						var val = '';
						for (var i in arr) {
							if (arr[i].item_id == 'root') continue;
							var v = arr[i];
							if (val.length > 0) val += ';';

							val += v.item_id + ',' + (v.parent_id == 'root' ? 0 : v.parent_id) + ',' + v.depth + ',' + v.left + ',' + v.right;
						}
						$.ajax({
							url: '/admin/menu/item-ajax',
							data: {
								'mid': {$this->menu['id']},
								'order': val
							},
							dataType: 'json'
						});
					}
				});
				$('.fold-button').click(function() {
					$(this).parents('div').toggleClass('folded');
				});
				$('a[rel=delete]').click(function(event) {
					return confirm('".$this->translate('Are you sure?')."');
				});
			});"
		); ?>

	<?php } else { ?>
		<ol>
			<?php echo $this->partial("menu/item-single-level-partial.phtml", array("items" => $this->items, "acl" => $this->acl)); ?>
		</ol>
	<?php } ?>
</div>
<?php } ?>
