<?php
$canAdd = $this->acl->isAllowed('admin/menu/item-add');
$canEdit = $this->acl->isAllowed('admin/menu/item-edit');
$canDelete = $this->acl->isAllowed('admin/menu/item-delete');

foreach($this->items as $item) { ?>
<li id="menu_item_<?php echo $item["id"]; ?>">
	<div class="unfolded">
		<table>
			<tr style="border-bottom:0;">
				<td>
					<div class=\"fold-button\"></div>
				</td>
				<td>
					<?php if ($canEdit) { ?>
						<a href="<?php echo $this->url(array("action" => "item-edit", "mid" => $item["mid"], "iid" => $item["id"]), "default"); ?>"
						   title="<?php echo $this->translate("Edit"); ?>">
							<img src="/img/admin/icon/edit.png"/>
						</a>
					<?php } ?>
					<?php if ($canDelete) { ?>
						<a rel="delete" href="<?php echo $this->url(array("action" => "item-delete", "mid" => $item["mid"], "iid" => $item["id"]), "default"); ?>"
						   title="<?php echo $this->translate("Delete"); ?>">
							<img src="/img/admin/icon/delete.png"/>
						</a>
					<?php } ?>
					<?php if ($canAdd) { ?>
						<a href="<?php echo $this->url(array("action" => "item-add", "mid" => $item["mid"], "parent" => $item["id"]), "default"); ?>"
						   title="<?php echo $this->translate("Add child element"); ?>">
							<img src="/img/admin/icon/add.png"/>
						</a>
					<?php } ?>
				</td>
				<td><?php echo $item["label"]; ?></td>
				<td><code><?php echo $item["href"]; ?></code></td>
				<td>
					<?php if (!$item["file_id"]) { ?>
						<input type="file" file-model="file<?php echo $item["id"]; ?>">
						<button ng-click="upload(file<?php echo $item["id"]; ?>, <?php echo $item["id"]; ?>)">upload</button>
					<?php } else { ?>
						<img src="/img/admin/icon/gallery.png" alt="">
						<code><?php echo $item["file"]; ?></code>
						<button ng-click="removeFile(<?php echo $item["id"]; ?>)">remove</button>
					<?php } ?>
				</td>
			</tr>
		</table>
	</div>
	<?php if (count($item["children"]) > 0) { ?>
		<ol><?php echo $this->partial("menu/item-single-level-partial.phtml", array("items" => $item["children"], "acl" => $this->acl)); ?></ol>
	<?php } ?>
</li>
<?php }
