<?php echo $this->doctype('HTML5')."\n"; ?>
<html>
<head>
<?php echo $this->headMeta()."\n"; ?>
<?php echo $this->headTitle($this->info['title'])."\n"; ?>
<?php echo $this->headLink()->prependAlternate('http://'.APPLICATION_DOMAIN.'/feed', 'application/rss+xml', $this->info['title'])."\n"; ?>
<?php echo $this->headScript()->setIndent("\t")."\n"; ?>
</head>
<body>
	<nav>
		<?php echo $this->navigation()->menu()->renderMenu($this->nav); ?>
	</nav>
	<?php echo $this->layout()->content; ?>
	<?php echo $this->inlineScript(); ?>
</body>
</html>
