<?php echo $this->doctype(); ?>
<html>
<head>
<?php echo $this->headMeta()."\n"; ?>
	<meta name="robots" value="noindex, nofollow">
<?php echo $this->headTitle($this->translate('Login form'))."\n"; ?>
<?php echo $this->headLink(array('rel' => 'icon', 'type' => 'image/png', 'href' => '/img/admin/favicon.png'),'PREPEND')
	->appendStylesheet("/css/login.css")."\n"; ?>
	<script src="/js/jquery.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<?php echo $this->layout()->content; ?>
	</div>
	<?php echo $this->inlineScript(); ?>
</body>
</html>
