<?php
/* uCMS
 * Copyright (c) 2011-2013 Dominik Marczuk
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * The name of Dominik Marczuk may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY DOMINIK MARCZUK "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL DOMINIK MARCZUK BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
?>
<?php if ($this->pageCount > 1) { ?>
	<?php
		$remainder = Zend_Controller_Front::getInstance()->getRequest()->getParam('remainder');
		$tr = $this->translate('page');
		$pattern = "/\/{$tr}\/[0-9]+/";
		$remainder = preg_replace($pattern,'',$remainder);
	?>
	<?php $params = Zend_Controller_Front::getInstance()->getRequest(); ?>
	<div class="paginator">
	<?php if (isset($this->previous)) { ?>
		<a class="firstPage" href="<?php echo $this->url(array('alias' => $params->alias, 'remainder' => "{$remainder}/{$tr}/1"),'alias',true,false); ?>" title="<?php echo $this->translate('First page'); ?>">&laquo;</a>
		<a class="prevPage" href="<?php echo $this->url(array('alias' => $params->alias, 'remainder' => "{$remainder}/{$tr}/{$this->previous}"),'alias',true,false); ?>" title="<?php echo $this->translate('Previous page'); ?>">&lsaquo;</a>
	<?php } else { ?>
		<span class="firstPage" title="<?php echo $this->translate('First page'); ?>">&laquo;</span>
		<span class="prevPage" title="<?php echo $this->translate('Previous page'); ?>">&lsaquo;</span>
	<?php } ?>
	<?php foreach ($this->pagesInRange as $page) { ?>
		<?php if ($page != $this->current) { ?>
			<a href="<?php echo $this->url(array('alias' => $params->alias, 'remainder' => "{$remainder}/{$tr}/{$page}"),'alias',true,false); ?>"><?php echo $page; ?></a>
		<?php } else { ?>
			<span class="active"><?php echo $page; ?></span>
		<?php } ?>
	<?php } ?>
	<?php if (isset($this->next)) { ?>
		<a class="nextPage" href="<?php echo $this->url(array('alias' => $params->alias, 'remainder' => "{$remainder}/{$tr}/{$this->next}"),'alias',true,false); ?>" title="<?php echo $this->translate('Next page'); ?>">&rsaquo;</a>
		<a class="lastPage" href="<?php echo $this->url(array('alias' => $params->alias, 'remainder' => "{$remainder}/{$tr}/{$this->pageCount}"),'alias',true,false); ?>" title="<?php echo $this->translate('Last page'); ?>">&raquo;</a>
	<?php } else { ?>
		<span class="nextPage" title="<?php echo $this->translate('Next page'); ?>">&rsaquo;</span>
		<span class="lastPage" title="<?php echo $this->translate('Last page'); ?>">&raquo;</span>
	<?php } ?>
	</div>
<?php } ?>
