<?php
	$thumbnail_params = array(
		'w' => 60,
		'h' => 60,
		'type' => 'adaptive',
		'fx' => array(
			array('sharpen', 16),
			array('overlay', DOC_ROOT.'/overlay/default.png')
		)
	);
?>
<h1><?php echo $this->translate('Administer images in gallery "%1$s"',$this->gallery["title"]); ?></h1>
<?php echo $this->render("gallery/subnav.phtml"); ?>

<div class="panel">
<?php echo $this->form; ?>
</div>

<?php if (count($this->images) == 0) { ?>
	<p><?php echo $this->translate('This gallery is empty.'); ?></p>
<?php } else if (count($this->images) == 1) { ?>
	<p><?php echo $this->translate('This gallery contains but one image. There\'s nothing to reorder.'); ?></p>
<?php } else { ?>
	<p><?php echo $this->translate('Drag and drop the items vertically to change their order or %1$sclick to order by file name%2$s.',"<a href=\"/admin/gallery/autoorder/id/{$this->gallery["id"]}\">","</a>"); ?></p>
<?php } ?>

<table<?php if (count($this->images) > 1) { ?> class="sortable"<?php } ?>>
	<tr>
		<th></th>
		<th><?php echo $this->translate('Image'); ?></th>
		<th><?php echo $this->translate('Filename'); ?>/<?php echo $this->translate('Title'); ?>/<?php echo $this->translate('Alt'); ?></th>
		<th><?php echo $this->translate('Crop source'); ?></th>
		<th><?php echo $this->translate('URL'); ?></th>
	</tr>
	<?php foreach($this->images as $image) { ?>
	<tr class="item" id="iid-<?php echo $image['id']; ?>">
		<td>
			<a title="<?php echo $this->translate('View'); ?>" rel="fancybox-image-preview" href="<?php echo $this->image($image); ?>"><img src="/img/admin/icon/preview.png"  /></a>
			<?php if ($this->acl->isAllowed('admin/image/crop')) { ?><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'image', 'action' => 'crop', "gid" => $this->gallery["id"], 'iid' => $image['id']),'default'); ?>" title="<?php echo $this->translate('Crop'); ?>"><img src="/img/admin/icon/crop.png" /></a><?php } ?>
			<?php if ($this->acl->isAllowed('admin/image/crop')) { ?><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'image', 'action' => 'reset', "gid" => $this->gallery["id"], 'iid' => $image['id']),'default'); ?>" title="<?php echo $this->translate('Reset'); ?>"><img src="/img/admin/icon/reset.png" /></a><?php } ?>
			<?php if ($this->acl->isAllowed('admin/image/delete')) { ?><a class="delete" href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'image', 'action' => 'delete', 'iid' => $image['id']),'default'); ?>" title="<?php echo $this->translate('Delete'); ?>"><img src="/img/admin/icon/delete.png" /></a><?php } ?>
		</td>
		<td><img src="<?php echo $this->image($image,$thumbnail_params); ?>?cache=<?php echo md5($image["update"]); ?>" alt="<?php echo $image['alt']; ?>" /></td>
		<td>
			<div><?php if ($this->acl->isAllowed('ajax/image/edit')) { ?><input type="text" class="ajax" rel="filename-<?php echo $image['id']; ?>" value="<?php echo $image['filename']; ?>" /><?php } else { echo $image['filename']; } ?></code></div>
			<div><?php if ($this->acl->isAllowed('ajax/image/edit')) { ?><input type="text" class="ajax" rel="title-<?php echo $image['id']; ?>" value="<?php echo $image['title']; ?>" /><?php } else { echo $image['title']; } ?></div>
			<div><?php if ($this->acl->isAllowed('ajax/image/edit')) { ?><input type="text" class="ajax" rel="alt-<?php echo $image['id']; ?>" value="<?php echo $image['alt']; ?>" /><?php } else { echo $image['alt']; } ?></div>
		</td>
		<td>
			<select class="crop-select chosen-disable" data-id="<?php echo $image["id"]; ?>">
				<?php
					$crop = array(
						"0" => $this->translate("center"),
						"N" => $this->translate("top"),
						"E" => $this->translate("right"),
						"S" => $this->translate("bottom"),
						"W" => $this->translate("left")
					);
				?>
				<?php foreach ($crop as $k => $v) { ?>
					<option value="<?php echo $k; ?>" <?php if ($k == $image["cut"]) echo "selected";?>><?php echo $v; ?></option>
				<?php } ?>
			</select>
		</td>
		<td>
			<?php if ($this->acl->isAllowed('ajax/image/edit')) { ?>
				<input type="text" class="ajax" rel="url-<?php echo $image['id']; ?>"
				       value="<?php echo $image['url']; ?>" /><?php } else {
				echo $image['url'];
			} ?>
		</td>
	</tr>
	<?php } ?>
</table>

<?php if (count($this->images) > 1) { ?>
	<?php if ($this->acl->isAllowed('ajax/image/order')) $this->inlineScript()->appendScript(
		"$(document).ready(function() {
			$('table.sortable').sortable({
				forcePlaceholderSize: true,
				helper:	'clone',
				opacity: .6,
				placeholder: 'placeholder',
				items: 'tr.item',
				tolerance: 'pointer',
				stop: function(event,ui) {
					var val = '';
					$('table.sortable tr.item').each(function(index) {
						if (index > 0) val += ',';
						var iid = $(this).attr('id');
						val += iid.replace('iid-','');
					});
					$.ajax({ url: '/ajax/image/order/gid/{$this->gallery["id"]}/order/' + val });
				}
			});
		});"
	); ?>
<?php } ?>
<?php $this->inlineScript()->appendScript(
	"$(document).ready(function() {
		$('a[rel=\"fancybox-image-preview\"]').fancybox({
			transitionIn: 'elastic',
			transitionOut: 'fade',
			opacity: true,
			overlayColor: 'black'
		});

		$('input.ajax').change(function() {
			var elt = $(this);
			var val = elt.val();
			var rel = elt.attr('rel');
			$(this).addClass('loading');
			$.ajax({
				url: '/ajax/image/edit',
				data: { 'data': rel, 'val': val },
				error: function() { elt.val(elt.get(0).defaultValue).removeClass('loading'); },
				success: function(data) { elt.removeClass('loading'); if(data.result) { elt.val(data.val); elt.get(0).defaultValue = data.val; } else { elt.val(elt.get(0).defaultValue); } },
				dataType: 'json'
			});
		});

		$(document).ready(function() {
			$('a.delete').click(function(event) {
				return confirm('".$this->translate('Are you sure? Remember that this action is not undoable!')."');
			});
		});
	});"
); ?>
<?php $this->inlineScript()->appendScript(<<<EOS
	$(document).ready(function() {
		$("select.crop-select").on("change", function(event) {
			$.ajax({
				method: "GET",
				url: "/admin/image/cut",
				data: {
					id: $(this).data("id"),
					cut: $(this).val()
				}
			});
		});
	});
EOS
	); ?>
