<?php
/* uCMS
 * Copyright (c) 2011-2013 Dominik Marczuk
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * The name of Dominik Marczuk may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY DOMINIK MARCZUK "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL DOMINIK MARCZUK BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
?>
<h1><?php echo $this->translate('Gallery list'); ?></h1>
<p>
	<?php echo $this->translate('Show entries'); ?>:
	<a href="<?php echo $this->url(array('limit' => 10),'default',false); ?>">10</a> |
	<a href="<?php echo $this->url(array('limit' => 25),'default',false); ?>">25</a> |
	<a href="<?php echo $this->url(array('limit' => 50),'default',false); ?>">50</a> |
	<a href="<?php echo $this->url(array('limit' => 0),'default',false); ?>"><?php echo $this->translate('all entries'); ?></a>
</p>
<?php echo $this->paginator; ?>
<table>
	<thead>
		<tr>
			<th><?php if ($this->acl->isAllowed("admin/gallery/add")) { ?><a href="/admin/gallery/add"><img src="/img/admin/icon/add.png"></a><?php } ?></th>
			<th><?php echo $this->translate('Images'); ?></th>
			<th><a href="<?php echo $this->url(array('column' => 'content_title', 'direction' => ($this->column == 'content_title' && $this->direction == 'asc') ? 'desc' : 'asc'),'default',false); ?>"><?php echo $this->translate('Admin title'); ?></a></th>
			<th><a href="<?php echo $this->url(array('column' => 'title', 'direction' => ($this->column == 'title' && $this->direction == 'asc') ? 'desc' : 'asc'),'default',false); ?>"><?php echo $this->translate('Title'); ?></a></th>
			<th><a href="<?php echo $this->url(array('column' => 'path', 'direction' => ($this->column == 'path' && $this->direction == 'asc') ? 'desc' : 'asc'),'default',false); ?>"><?php echo $this->translate('Path'); ?></a></th>
			<th><a href="<?php echo $this->url(array('column' => 'created', 'direction' => ($this->column == 'created' && $this->direction == 'desc') ? 'asc' : 'desc'),'default',false); ?>"><?php echo $this->translate('Created on'); ?></a></th>
			<th><?php echo $this->translate('Last update'); ?></th>
		</tr>
	</thead>
	<tbody>
	<?php if (count($this->nodes)) { ?>
		<?php foreach ($this->nodes as $item) { ?>
			<tr id="node-<?php echo $item['id']; ?>">
				<td>
					<?php if ($this->acl->isAllowed('admin/gallery/edit')) { ?><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'gallery', 'action' => 'edit', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Edit'); ?>"><img src="/img/admin/icon/edit.png" alt="<?php echo $this->translate('Edit'); ?>" /></a><?php } ?>
					<?php if ($this->acl->isAllowed('admin/gallery/detail')) { ?><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'gallery', 'action' => 'detail', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('View details'); ?>"><img src="/img/admin/icon/detail.png" alt="<?php echo $this->translate('View details'); ?>" /></a><?php } ?>
					<?php if ($this->acl->isAllowed('admin/gallery/delete')) { ?><a class="delete" href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'gallery', 'action' => 'delete', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Delete'); ?>"><img src="/img/admin/icon/delete.png" alt="<?php echo $this->translate('Delete'); ?>" /></a><?php } ?>
				</td>
				<td><?php echo $item['images']; ?></td>
				<td><?php echo $item['content_title']; ?></td>
				<td><?php echo $item['title']; ?></td>
				<td><code><?php echo $item['path']; ?></code></td>
				<td><?php echo $item['created']->format('Y-m-d H:i'); ?></td>
				<td><?php if (!empty($item['updated'])) { $date = $item['updated']->format('Y-m-d H:i'); echo "{$date} ({$item['updated_author']})"; } ?></td>
			</tr>
		<?php } ?>
	<?php } ?>
	</tbody>
</table>
<?php echo $this->paginator; ?>
<?php
	$this->inlineScript()->appendScript("
		$(document).ready(function() {
			$('a.delete').click(function(event) {
				return confirm('".$this->translate('Are you sure? Remember that this action is not undoable!')."');
			});
		});
	");
?>
