<?php
/* uCMS
 * Copyright (c) 2011-2013 Dominik Marczuk
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * The name of Dominik Marczuk may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY DOMINIK MARCZUK "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL DOMINIK MARCZUK BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
?>
<?php
$thumbnail_params = array(
	'w' => 60,
	'h' => 60,
	'type' => 'adaptive',
	'fx' => array(
		array('sharpen', 16),
		array('overlay', DOC_ROOT.'/overlay/default.png')
	)
);
?>
<h1><?php echo $this->translate('Pages list'); ?></h1>
<?php echo $this->render("paginatorlimit.phtml"); ?>

<?php echo $this->paginator; ?>
<table>
	<thead>
		<tr>
			<th><?php if ($this->acl->isAllowed("admin/page/add")) { ?><a href="/admin/page/add"><img src="/img/admin/icon/add.png"></a><?php } ?></th>
			<th></th>
			<th><a href="<?php echo $this->url(array('column' => 'content_title', 'direction' => ($this->column == 'content_title' && $this->direction == 'asc') ? 'desc' : 'asc'),'default',false); ?>"><?php echo $this->translate('Admin title'); ?></a></th>
			<th><a href="<?php echo $this->url(array('column' => 'alias', 'direction' => ($this->column == 'alias' && $this->direction == 'asc') ? 'desc' : 'asc'),'default',false); ?>"><?php echo $this->translate('Alias'); ?></a></th>
			<th><a href="<?php echo $this->url(array('column' => 'created', 'direction' => ($this->column == 'created' && $this->direction == 'desc') ? 'asc' : 'desc'),'default',false); ?>"><?php echo $this->translate('Creation date'); ?></a></th>
			<th><?php echo $this->translate('Last update'); ?></th>
		</tr>
	</thead>

	<tbody>
	<?php if (count($this->paginator)) { ?>
		<?php foreach ($this->nodes as $item) { ?>
			<tr id="node-<?php echo $item['id']; ?>">
				<td>
					<a target="_blank" href="<?php echo $this->url(array('alias' => $item['alias']),'alias',false,false); ?>" title="<?php echo $this->translate('View'); ?>"><img src="/img/admin/icon/preview.png" alt="<?php echo $this->translate('View'); ?>" /></a>
					<?php if ($this->acl->isAllowed('admin/page/edit')) { ?><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'page', 'action' => 'edit', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Edit'); ?>"><img src="/img/admin/icon/edit.png" alt="<?php echo $this->translate('Edit'); ?>" /></a><?php } ?>
					<?php if ($this->acl->isAllowed('admin/page/taxonomy')) { ?><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'page', 'action' => 'taxonomy', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Taxonomy'); ?>"><img src="/img/admin/icon/tag.png" alt="<?php echo $this->translate('Taxonomy'); ?>" /></a><?php } ?>
					<?php if ($this->acl->isAllowed('admin/page/related')) { ?><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'page', 'action' => 'related', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Related content'); ?>"><img src="/img/admin/icon/related.png" alt="<?php echo $this->translate('Related content'); ?>" /></a><?php } ?>
					<?php if ($this->acl->isAllowed('admin/page/delete')) { ?><a rel="delete" href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'page', 'action' => 'delete', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Delete'); ?>"><img src="/img/admin/icon/delete.png" alt="<?php echo $this->translate('Delete'); ?>" /></a><?php } ?>
				</td>
				<td><?php if (!empty($item["image"])) { ?><img src="<?php echo $this->image($item["image"], $thumbnail_params); ?>" alt="<?php echo $item["image"]['alt']; ?>" /><?php } ?></td>
				<td><?php echo $item['content_title'] ?><br><small><?php echo $item['title'] ?></small></td>
				<td><code><?php echo "/{$item['alias']}"; ?>.html</code></td>
				<td><?php echo $item['created']->format('Y-m-d H:i'); ?></td>
				<td><?php if (!empty($item['updated'])) { $date = $item['updated']->format('Y-m-d H:i'); echo "{$date} ({$item['updated_author']})"; } ?></td>
			</tr>
		<?php } ?>
	<?php } ?>
	</tbody>
</table>
<?php echo $this->paginator; ?>

<?php $this->inlineScript()->appendScript("
	jQuery(document).ready(function() {
		jQuery('a[rel=delete]').on({
			click: function(event) {
				return confirm('".$this->translate('Are you sure? Remember that this action is not undoable!')."');
			}
		});
	});
"); ?>
