<?php
/* uCMS
 * Copyright (c) 2011-2013 Dominik Marczuk
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * The name of Dominik Marczuk may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY DOMINIK MARCZUK "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL DOMINIK MARCZUK BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
?>
<h1><?php echo $this->translate('Content related to page "%1$s"', $this->content->title); ?></h1>

<table>
	<thead>
		<tr>
			<th><?php echo $this->translate("Title"); ?></th>
			<th><?php echo $this->translate("Content type"); ?></th>
			<th><?php echo $this->translate("Sticky content"); ?></th>
			<th><?php echo $this->translate("Delete"); ?></th>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($this->related as $row) { ?>
			<tr>
				<td><?php echo $row->title; ?></td>
				<td><?php echo $this->translate($row->content_type); ?></td>
				<td>
					<input type="checkbox" <?php echo $row->sticky == "1" ? "checked" : ""; ?> data-method="PUT" data-cid="<?php echo $row->id; ?>">
				</td>
				<td>
					<a data-method="DELETE" data-cid="<?php echo $row->id; ?>" href title="<?php echo $this->translate('Delete'); ?>"><img src="/img/admin/icon/delete.png" alt="<?php echo $this->translate('Delete'); ?>" /></a>
				</td>
			</tr>
		<?php } ?>
	</tbody>
</table>

<form method="POST">
	<fieldset>
		<legend><?php echo $this->translate("Create a new content relation"); ?></legend>
		<dl>
			<dt><label><?php echo $this->translate("Content"); ?></label></dt>
			<dd>
				<select name="relation_cid">
					<?php foreach ($this->unrelated as $row) { ?>
						<option value="<?php echo $row->id; ?>"><?php echo $this->translate($row->content_type); ?>: <?php echo $row->title; ?></option>
					<?php } ?>
				</select>
			</dd>
			<input type="hidden" name="sticky" value="0">
			<dd><label><?php echo $this->translate("Sticky content"); ?> <input type="checkbox" value="1" name="sticky"></label></dd>
			<dd>
				<input type="submit" value="<?php echo $this->translate("Save"); ?>">
			</dd>
		</dl>
	</fieldset>
</form>

<?php
$this->inlineScript()->appendScript(<<<EOS
	$("table").on("click", "[data-method='DELETE']", function(e) {
		e.preventDefault();
		$.ajax({
			method: "DELETE",
			data: {
				relation_cid: $(this).attr("data-cid")
			},
			success: function() {
				window.location.reload();
			}
		});
	}).on("change", "[data-method='PUT']", function() {
		$.ajax({
			method: "PUT",
			data: {
				relation_cid: $(this).attr("data-cid"),
				sticky: $(this).is(":checked") ? 1 : 0
			}
		});
	});
EOS
);
