<h1><?php echo $this->translate('Comments for entry "%1$s"', $this->title); ?></h1>
<?php echo $this->render("comment/subnav.phtml"); ?>
<table>
	<thead>
		<tr>
			<th></th>
			<th colspan="2"><?php echo $this->translate('Author'); ?></th>
			<th><?php echo $this->translate('Submitted on'); ?></th>
			<th><?php echo $this->translate('Comment body'); ?></th>
		</tr>
	</thead>
	<tbody>
	<?php foreach ($this->comments as $item) { ?>
		<tr id="comment-<?php echo $item['id']; ?>">
			<td>
				<?php if ($this->acl->isAllowed('admin/comment/approve')) { if ($item['active'] == 0) { ?><a href="<?php echo $this->url(array('action' => 'approve', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Approve'); ?>"><img src="/img/admin/icon/unpublished.png" alt="<?php echo $this->translate('Approve'); ?>" /></a><?php }} ?>
				<?php if ($this->acl->isAllowed('admin/comment/edit')) { ?><a href="<?php echo $this->url(array('action' => 'edit', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Edit'); ?>"><img src="/img/admin/icon/edit.png" alt="<?php echo $this->translate('Edit'); ?>" /></a><?php } ?>
				<?php if ($this->acl->isAllowed('admin/comment/delete')) { ?><a class="delete" href="<?php echo $this->url(array('action' => 'delete', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Delete'); ?>"><img src="/img/admin/icon/delete.png" alt="<?php echo $this->translate('Delete'); ?>" /></a><?php } ?>
			</td>
			<td style="border-right:0;"><?php echo $this->gravatar($item['email'],array('imgSize' => 50, 'defaultImg' => Zend_View_Helper_Gravatar::DEFAULT_MM)); ?></td>
			<td><?php echo $item['name']; ?> (<?php echo $item['ip']; ?>)<br /><?php echo $item['email']; ?></td>
			<td><?php echo $item['created']->format("Y-m-d H:i"); ?></td>
			<td><?php echo nl2br($item['body']); ?></td>
		</tr>
	<?php } ?>
	</tbody>
</table>
<?php
	$this->inlineScript()->appendScript("
		jQuery(document).ready(function() {
			jQuery('a[rel=delete]').on({
				click: function(event) {
					return confirm('".$this->translate('Are you sure? Remember that this action is not undoable!')."');
				}
			});
		});
	");
?>
