<div class="subnav">
	<ul>
		<li>
			<a href="/admin/comment">
				<?php echo $this->translate('Comments'); ?>
			</a>
		</li>
		<li>
			<a href="/admin/comment/index/active/0">
				<?php echo $this->translate('Comments moderation queue'); ?>
			</a>
		</li>
		<li>
			<a href="/admin/comment/index/active/1">
				<?php echo $this->translate('Approved comments'); ?>
			</a>
		</li>
	</ul>
</div>
