<form method="POST">
	<dl>
		<?php foreach ($this->taxonomy as $dictionary) { ?>

			<dt><strong><?php echo $dictionary["dictionary"]->title; ?></strong></dt>
			<dd>
				<?php foreach ($dictionary["terms"] as $term) { ?>
					<div>
						<?php for ($i = 1; $i < $term->depth; ++$i) { ?>
							<span class="indent"></span>
						<?php } ?>
						<label for="tid_<?php echo $term->id ?>">
							<input type="checkbox" id="tid_<?php echo $term->id; ?>" <?php if (isset($this->contentTaxonomy[$term->id])) { ?>checked="checked"<?php } ?> name="tid[]" value="<?php echo $term->id; ?>" />
							<?php echo $term->title; ?>
						</label></div>
				<?php } ?>
			</dd>

		<?php } ?>

		<input type="submit" value="<?php echo $this->translate("Save"); ?>">
	</dl>
</form>
