<?php
/* uCMS
 * Copyright (c) 2011-2013 Dominik Marczuk
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * The name of Dominik Marczuk may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY DOMINIK MARCZUK "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL DOMINIK MARCZUK BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

	// add javascript
	$this->headScript()
		->appendFile("/js/jquery.min.js")
		//->appendFile("/js/jquery-ui-1.8.21.custom.min.js")
		->appendFile("/js/chosen.jquery.min.js")
		->appendScript("jQuery(document).ready(function() { jQuery('select').chosen(); });");

	$this->inlineScript()->appendScript("jQuery(document).ready(function() { jQuery('select').chosen(); });");
?>
<?php echo $this->doctype(); ?>
<html>
<head>
<?php echo $this->headMeta()."\n"; ?>
	<meta name="robots" value="noindex, nofollow">
<?php echo $this->headTitle()."\n"; ?>
<?php echo $this->headLink(array('rel' => 'icon', 'type' => 'image/png', 'href' => '/img/admin/favicon.png'),'PREPEND')
	->appendStylesheet("/css/login.css")
	->appendStylesheet("/css/chosen.css")."\n"; ?>
<?php echo $this->headScript()."\n"; ?>
</head>
<body>
	<div class="wrapper left">
		<?php echo $this->layout()->content; ?>
	</div>
	<?php echo $this->inlineScript(); ?>
</body>
</html>
