<?php
/* uCMS
 * Copyright (c) 2011-2013 Dominik Marczuk
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * The name of Dominik Marczuk may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY DOMINIK MARCZUK "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL DOMINIK MARCZUK BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

	// add javascript
	$this->headScript()
		->prependFile("/js/admin.js")
		->appendFile("/js/jquery-ui-1.10.2.custom.min.js")
		->appendFile("/js/timepicker.js")
		->appendFile("/js/jquery.ui.nestedSortable.js")
		->appendFile("/js/ckeditor/ckeditor.js")
		->appendFile("/js/jquery.mousewheel-3.0.6.pack.js")
		->appendFile("/js/jquery.fancybox.pack.js")
		->appendFile("/js/chosen.jquery.min.js")
		->appendFile("/js/jquery.counter.min.js")
		->appendScript("jQuery(document).ready(function() { jQuery('select').not('.chosen-disable').chosen(); });");
	;
	$this->headLink(array('rel' => 'icon', 'type' => 'image/png', 'href' => '/img/admin/favicon.png'),'PREPEND')
		->appendStylesheet("/css/admin.css")
		->appendStylesheet("/css/fancybox.css")
		->appendStylesheet("/css/jcrop.css")
		->appendStylesheet("/css/ui-admin.css")
		->appendStylesheet("/css/chosen.css")
	;

	// get the config
	$config = Zend_Registry::get('Config');
?>
<?php echo $this->doctype(); ?>
<html>
<head>
<?php echo $this->headMeta()."\n"; ?>
	<meta name="robots" content="noindex, nofollow">
<?php echo $this->headTitle()."\n"; ?>
<?php echo $this->headLink()."\n"; ?>
<?php echo $this->headScript()."\n"; ?>
</head>
<body>
	<section class="top">
		<div class="identity"><?php echo $this->translate('Welcome to uCMS, %1$s',$this->identity->login); ?></div>
		<div class="version">uCMS <?php echo \Mingos\uCMS\Version::versionString(); ?> | Zend Framework <?php echo Zend_Version::VERSION; ?></div>
	</section>
	<div class="layout-table">
		<div class="layout-row">
			<div id="nav-wrap">
				<nav>
					<?php echo $this->navigation()->menu()->renderMenu($this->nav); ?>
				</nav>
			</div>
			<div id="content-wrap">
				<?php echo $this->displayMessages($this->messages); ?>
				<section id="content">
					<?php echo $this->layout()->content; ?>
				</section>
			</div>
		</div>
	</div>
<?php echo $this->inlineScript(); ?>
</body>
</html>
