<?php if ($this->acl->isAllowed("admin/gallery/add")) { ?><div class="panel">
	<h2><?php echo $this->translate("Quick create a new gallery"); ?></h2>
	<p><?php echo $this->translate("You can quickly create a new gallery from here."); ?></p>
	<form ng-submit="create(title)">
		<dl>
			<dt><?php echo $this->translate("Title"); ?></dt>
			<dd><input type="text" ng-model="title"></dd>

			<dt></dt>
			<dd><input type="submit" value="<?php echo $this->translate("Save"); ?>" class="button-save"></dd>
		</dl>
	</form>
</div><?php } ?>

<div class="panel">
	<h2><?php echo $this->translate("Related galleries"); ?></h2>
	<table>
		<tr>
			<th></th>
			<th>#</th>
			<th><?php echo $this->translate('Admin title'); ?></th>
		</tr>
		<tr ng-repeat="gallery in related">
			<td>
				<?php if ($this->acl->isAllowed('admin/gallery/unrelate-content')) { ?><a href="javascript:void(0)" title="<?php echo $this->translate("unrelate"); ?>" ng-click="unrelate(gallery)"><img src="/img/admin/icon/delete.png" alt=""></a><?php } ?>
				<?php if ($this->acl->isAllowed('admin/gallery/edit')) { ?><a ng-href="/admin/gallery/edit/id/{{gallery.id}}" title="<?php echo $this->translate('Edit'); ?>"><img src="/img/admin/icon/edit.png" alt="<?php echo $this->translate('Edit'); ?>" /></a><?php } ?>
				<?php if ($this->acl->isAllowed('admin/gallery/detail')) { ?><a ng-href="/admin/gallery/detail/id/{{gallery.id}}" title="<?php echo $this->translate('View details'); ?>"><img src="/img/admin/icon/detail.png" alt="<?php echo $this->translate('View details'); ?>" /></a><?php } ?>
			</td>
			<td>{{ gallery.position }}</td>
			<td>{{ gallery.content_title }}</td>
		</tr>
	</table>
</div>

<div class="panel">
	<h2><?php echo $this->translate("Available galleries"); ?></h2>
	<form>
		<dl>
			<dt><?php echo $this->translate("Filter"); ?></dt>
			<dd><input type="text" ng-model="filter.content_title"></dd>
		</dl>
	</form>
	<table>
		<tr>
			<th></th>
			<th><?php echo $this->translate('Admin title'); ?></th>
		</tr>
		<tr ng-repeat="gallery in unrelated | filter:filter">
			<td>
				<?php if ($this->acl->isAllowed('admin/gallery/relate-content')) { ?><a href="javascript:void(0)" title="<?php echo $this->translate("relate"); ?>" ng-click="relate(gallery)"><img src="/img/admin/icon/add.png" alt=""></a><?php } ?>
				<?php if ($this->acl->isAllowed('admin/gallery/edit')) { ?><a ng-href="/admin/gallery/edit/id/{{gallery.id}}" title="<?php echo $this->translate('Edit'); ?>"><img src="/img/admin/icon/edit.png" alt="<?php echo $this->translate('Edit'); ?>" /></a><?php } ?>
				<?php if ($this->acl->isAllowed('admin/gallery/detail')) { ?><a ng-href="/admin/gallery/detail/id/{{gallery.id}}" title="<?php echo $this->translate('View details'); ?>"><img src="/img/admin/icon/detail.png" alt="<?php echo $this->translate('View details'); ?>" /></a><?php } ?>
			<td>{{ gallery.content_title }}</td>
		</tr>
	</table>
</div>
