<div class="subnav">
	<ul>
		<li><a href="<?php echo $this->url(array("action" => "edit")); ?>"><?php echo $this->translate("Edit"); ?></a></li>
		<li><a href="<?php echo $this->url(array("action" => "gallery")); ?>"><?php echo $this->translate("Related galleries"); ?></a></li>
	</ul>
</div>
