<?php
/* uCMS
 * Copyright (c) 2011-2013 Dominik Marczuk
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * The name of Dominik Marczuk may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY DOMINIK MARCZUK "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL DOMINIK MARCZUK BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
?>
<h1><?php echo $this->translate('Taxonomy dictionaries'); ?></h1>

<?php if($this->acl->isAllowed('admin/taxonomy/add')) { ?><p><a href="/admin/taxonomy/add"><img src="/img/admin/icon/add.png"> <?php echo $this->translate('Add'); ?></a></p><?php } ?>

<ol class="items sortable">
	<?php foreach ($this->dictionaries as $item) { ?>
	<li class="item" data-id="<?php echo $item->id; ?>">
		<div>
			<a href="<?php echo $this->url(array('action' => 'edit', 'id' => $item->id), 'default'); ?>" title="<?php echo $this->translate('Edit'); ?>"><img src="/img/admin/icon/edit.png" alt="<?php echo $this->translate('Edit'); ?>" /></a>
			<a href="<?php echo $this->url(array('action' => 'term', 'id' => $item->id), 'default'); ?>" title="<?php echo $this->translate('Taxonomy terms'); ?>"><img src="/img/admin/icon/menu.png" alt="<?php echo $this->translate('Taxonomy terms'); ?>" /></a>
			<a rel="delete" href="<?php echo $this->url(array('action' => 'delete', 'id' => $item->id), 'default'); ?>" title="<?php echo $this->translate('Delete'); ?>"><img src="/img/admin/icon/delete.png" alt="<?php echo $this->translate('Delete'); ?>" /></a>

			<span class="separator">&nbsp;</span>

			<?php echo $item->title; ?>
		</div>
	</li>
	<?php } ?>
</ol>


<?php
	$this->inlineScript()->appendScript("
		$(document).ready(function() {
			$('a[rel=delete]').click(function(event) {
				return confirm('".$this->translate('Are you sure? Remember that this action is not undoable!')."');
			});
		});
		$('.sortable').sortable({
			forcePlaceholderSize: true,
			helper:	'clone',
			opacity: .6,
			placeholder: 'placeholder',
			items: 'li.item',
			tolerance: 'pointer',
			stop: function(event,ui) {
				var order = [];
				$('.sortable .item').each(function(index) {
					order.push($(this).attr('data-id'));
				});
				$.ajax({
					url: '/admin/taxonomy/order/',
					data: {
						order: order.join(',')
					}
				});
			}
		});
	");
?>
