<?php
/* uCMS
 * Copyright (c) 2011-2013 Dominik Marczuk
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * The name of Dominik Marczuk may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY DOMINIK MARCZUK "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL DOMINIK MARCZUK BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
?>
<h1><?php echo $this->translate('Taxonomy terms in dictionary "%1$s"', $this->dictionary->title); ?></h1>

<?php if($this->acl->isAllowed('admin/taxonomy/term-add')) { ?><p><a href="<?php echo $this->url(array('action' => 'term-add')); ?>"><img src="/img/admin/icon/add.png"> <?php echo $this->translate('Add'); ?></a></p><?php } ?>

<?php if (!count($this->terms)) { ?>
	<p><?php echo $this->translate("This dictionary is empty"); ?></p>
<?php } ?>

<ol class="items sortable">
	<?php $terms = $this->terms->toArray(); ?>
	<?php renderItems($this, $terms, $this->dictionary); ?>
</ol>




<?php
	$this->inlineScript()->appendScript("
		$(document).ready(function() {
			$('a[rel=delete]').click(function(event) {
				return confirm('".$this->translate('Are you sure? Remember that this action is not undoable!')."');
			});
		});
	");
	$this->inlineScript()->appendScript(
		"$(document).ready(function() {
			$('ol.sortable').nestedSortable({
				forcePlaceholderSize: true,
				helper: 'clone',
				opacity: .6,
				placeholder: 'placeholder',
				disableNesting: 'no-nest',
				items: 'li',
				handle: 'div',
				tolerance: 'pointer',
				toleranceElement: '> div',
				stop: function(event,ui) {
					var arr = $(this).nestedSortable('toArray');
					var val = [];
					for (var i in arr) {
						if (arr[i].item_id == 'root') continue;

						var v = arr[i];

						v.parent_id = v.parent_id == 'root' ? 0 : v.parent_id;
						val.push([
							v.item_id,
							v.left,
							v.right,
							v.parent_id,
							v.depth
						].join(','));
					}
					val = val.join(';');

					$.ajax({
						url: '/admin/taxonomy/term-order',
						data: {
							'order': val
						},
						dataType: 'json'
					});
				}
			});
		});"
	);

	function renderItems ($view, &$items, $dictionary)
	{ ?>
		<?php $item = current($items); ?>
		<li id="term_<?php echo $item["id"]; ?>">
			<div>
				<a href="<?php echo $view->url(array('action' => 'term-edit', 'id' => $dictionary->id, "tid" => $item["id"]), 'default'); ?>" title="<?php echo $view->translate('Edit'); ?>"><img src="/img/admin/icon/edit.png" alt="<?php echo $view->translate('Edit'); ?>" /></a>
				<a rel="delete" href="<?php echo $view->url(array('action' => 'term-delete', 'id' => $dictionary->id, "tid" => $item["id"]), 'default'); ?>" title="<?php echo $view->translate('Delete'); ?>"><img src="/img/admin/icon/delete.png" alt="<?php echo $view->translate('Delete'); ?>" /></a>

				<span class="separator">&nbsp;</span>

				<?php echo $item["title"]; ?>
			</div>

			<?php $next = next($items); ?>
			<?php if ($next && intval($next["depth"]) > intval($item["depth"])) { ?>
				<ol>
					<?php renderItems($view, $items, $dictionary); ?>
				</ol>
			<?php } else {
				prev($items);
			} ?>
		</li>

		<?php $next = next($items); ?>
		<?php if ($next && intval($item["depth"]) == intval($next["depth"])) { ?>
			<?php renderItems($view, $items, $dictionary); ?>
		<?php } else {
			prev($items);
		} ?>
	<?php }
