<div ng-app="ucms" ng-controller="ContentGalleryController">
	<h1><?php echo $this->translate('Galleries related to block "%1$s"', $this->node["content_title"]); ?></h1>
	<?php echo $this->render("block/subnav.phtml"); ?>
	<?php echo $this->render("relatedGalleries.phtml"); ?>
</div>

