<?php
/* uCMS
 * Copyright (c) 2011-2012 Dominik Marczuk
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * The name of Dominik Marczuk may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY DOMINIK MARCZUK "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL DOMINIK MARCZUK BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
?>
<h1><?php echo $this->translate('Block list'); ?></h1>
<p>
	<?php echo $this->translate('Show entries'); ?>:
	<?php $entries = array('10' => '10', '25' => '25', '50' => '50', '0' => $this->translate('all entries')); $i = 0; ?>
	<?php foreach ($entries as $k => $v) { ?><a href="<?php echo $this->url(array('limit' => $k),'default',false); ?>"><?php if ($this->limit == $k) { echo "<span style=\"text-decoration:underline;\">{$v}</span>"; } else { echo $v; } ?></a><?php if (++$i < count($entries)) echo ' | '; } ?>
</p>
<?php echo $this->paginator; ?>
<table>
	<thead>
	<tr>
		<th><?php if ($this->acl->isAllowed("admin/block/add")) { ?><a href="/admin/block/add"><img src="/img/admin/icon/add.png"></a><?php } ?></th>
		<th><a href="<?php echo $this->url(array('column' => 'content_title', 'direction' => ($this->column == 'content_title' && $this->direction == 'asc') ? 'desc' : 'asc'),'default',false); ?>"><?php echo $this->translate('Admin title'); ?></a></th>
		<th><a href="<?php echo $this->url(array('column' => 'created', 'direction' => ($this->column == 'created' && $this->direction == 'desc') ? 'asc' : 'desc'),'default',false); ?>"><?php echo $this->translate('Created on'); ?></a></th>
		<th><?php echo $this->translate('Last update'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php if (count($this->paginator)) { ?>
		<?php foreach ($this->nodes as $item) { ?>
		<tr id="node-<?php echo $item['id']; ?>">
			<td>
				<?php if ($this->acl->isAllowed('admin/block/edit')) { ?><a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'block', 'action' => 'edit', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Edit'); ?>"><img src="/img/admin/icon/edit.png" alt="<?php echo $this->translate('Edit'); ?>" /></a><?php } ?>
				<?php if ($this->acl->isAllowed('admin/block/delete')) { ?><a class="delete" href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'block', 'action' => 'delete', 'id' => $item['id']),'default'); ?>" title="<?php echo $this->translate('Delete'); ?>"><img src="/img/admin/icon/delete.png" alt="<?php echo $this->translate('Delete'); ?>" /></a><?php } ?>
			</td>
			<td><?php echo $item['content_title'] ?><br><small><?php echo $item['title'] ?></small></td>
			<td><?php echo $item['created']->format('Y-m-d H:i'); ?></td>
			<td><?php if (!empty($item['updated'])) { $date = $item['updated']->format('Y-m-d H:i'); echo "{$date} ({$item['updated_author']})"; } ?></td>
		</tr>
			<?php } ?>
		<?php } ?>
	</tbody>
</table>
<?php echo $this->paginator; ?>
<?php
$this->inlineScript()->appendScript("
		jQuery(document).ready(function() {
			jQuery('a.delete').click(function(event) {
				return confirm('".$this->translate('Are you sure? Remember that this action is not undoable!')."');
			});
		});
	");
?>
