<div class="inline-block">
	<h3 class="inline-block__title"><?php echo $this->block["title"]; ?></h3>
	<div class="inline-block__content">
		<?php echo $this->replaceMacros($this->block["body"]); ?>
	</div>
</div>
